.main {
  // margin-top: 46px;
  height: calc(100vh -96px);
  min-height: 100%;
  background: #f2f2f2;
  background-repeat: repeat-y;
  // display: flex;
  justify-content: center;
  margin-bottom: 35px;
  margin-top: 46px;
  overflow: auto;
}
.main-landing {
   height: calc(100vh -50px);
   min-height: 100%;
   background: #f2f2f2;
   background-repeat: repeat-y;
   justify-content: center;
   margin-bottom: 35px;
   overflow: auto;
}

.main-content-landing {
  background: #fff;
  width: 1200px;
  // padding: 0 15px;
  box-sizing: border-box;
  // height: 100vh;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.landing-image {
  // display: flex;
  position: relative;
  justify-content: space-between;
  background: image-url("splash.jpg");
  width: 1200px;
  height: 450px;
  background-size: cover;
  justify-content: center;
  margin: 0 auto;
  border-top: 4px solid #f50;
}

.landing-image-header {
  margin: 0 auto;
  overflow: hidden;

}
.font-logo {
  position: absolute;
  background: image-url("cloud.png") no-repeat;
  background-size: 48px 22px;
  display: block;
  width: 184px;
  height: 46px;
  font-size: 16px; 
  left: 45px;
  top: 28px;
  font-family: "Interstate",
  "Lucida Grande",
  "Lucida Sans Unicode",
  "Lucida Sans",
  Garuda,
  Verdana,
  Tahoma,
  sans-serif;
  float: left;
  color: #fff;
  text-indent: 3.5em;
  line-height: 150%;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.landing-list {
  float: right;
  display: flex;
  font-weight: 100;
  position: absolute;
  right: 25px;
  top: 20px;
  padding: 10px;
  overflow: hidden;
}

.sign-in {
  margin-right: 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #fff;
  transition: opacity .2s;
  padding: 6px 15px;
  font-family: 'Lucida Grande',
  'Lucida Sans Unicode',
  'Lucida Sans',
  Garuda,
  Verdana,
  Tahoma,
  sans-serif;
  font-weight: 100;
  font-size: 12px;
}

.create-account {
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  border: 1px solid #f50;
  padding: 6px 15px;
  border-radius: 3px; 
  font-family: 'Lucida Grande',
  'Lucida Sans Unicode',
  'Lucida Sans',
  Garuda,
  Verdana,
  Tahoma,
  sans-serif;
  font-weight: 100;
  font-size: 12px;
}

.landing-text {
  position: absolute;
  left: 300px;
  color: #fff;
  // margin-left: auto;
  // margin-right: auto;
  // width: 40%;
  top: 130px;
}

.landing-title {
  margin-bottom: 8px;
  font-size: 32px;
  font-weight: 100;
  text-align: center;
  font-weight: 100;
}

.landing-tagline {
  font-size: 18px;
  max-width: 530px;
  text-align: center;
  margin: 0 0 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.search-box {
  // margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.search-box-form {
  // margin: 0 auto;
  vertical-align: baseline;
  position: relative;
  margin: 10px;
  padding: 5px;
}

.search-box-input {
  background: #f2f2f2;
  color: #666;
  height: 46px;
  width: 660px;
  font-size: 16px;
  border-radius: 4px;
  padding: 0px 16px;
}

.search-box-input::placeholder {
  color: #666;
}

.search-input-submit {
  background: image-url("search.svg");
  background-size: 19px 19px;
  background-repeat: no-repeat;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 628px;
  top: 20px;
  // right: 0;
  // top: 0;
}

.or {
  margin: 5px;
  color: #333;
  font-size: 16px;
}

.landing-upload-button {
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  padding: 13px 23px;
  height: 46px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 10px;
}

.trending-header {
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
}