.landing-page-index-list {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  flex-wrap: wrap;
}

.lp-index-item {
  display: flex;
  flex-direction: column;
  width: 168px;
  padding: 10px;
}

.lp-album-cover {
  width: 168px;
  height: 168px;
  cursor: pointer;
  position: relative;
}

.lp-title {
  color: #333;
  font-weight: 300;
  font-size: 16px;  
  margin: 10px 0px;
}

.lp-artist {
  color: #ccc;
  font-size: 14px;
  margin: 0;
  font-weight: 300;
}

.top-button-box {
  margin: 0 auto;
  width: 222px;
}

.top-button {
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  padding: 13px 23px;
  height: 46px;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

.landing-paused-button {
  position: absolute;
  display: none;
  width: 55px;
  height: 55px;
  left: 55px;
  bottom: 55px;
  background: #f50;
  background-image: image-url("pause.svg");
  border-radius: 100%;
  background-size: 35%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  // margin-left: 15px;
  // margin-top: 5px;
}



.landing-paused-button:hover {
  background-color: #ff3400;
}

.landing-play-button {
  position: absolute;
  display: none;
  width: 55px;
  height: 55px;
  left: 55px;
  bottom: 55px;
  background: #f50;
  background-image: image-url("play.svg");
  border-radius: 100%;
  background-size: 32%;
  background-position: 55% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  // margin-left: 15px;
  // margin-top: 5px;
}

.landing-play-button:hover {
  background-color: #ff3400;
}

.lp-album-cover:hover .landing-play-button {
  display: block
}

.lp-album-cover:hover .landing-paused-button {
  display: block
}

// .front-mobile-teaser {
//   height: 350px;
//   margin-top: 60px;
//   padding: 0 70px;
//   background: #F2F2F2;
//   display: flex;
// }

// .mobile-teaser-box {
// }

// .mobile-teaser {
//   background-repeat: no-repeat;
//   background-position: bottom;
//   background-size: 100%;
//   position: absolute;
//   background: image-url("mobile_devices.jpg");
// }


