.session-form-container {
  
}

// .modal {
//   display: block;
//   background-color: rgba(242,242,242,.9);
//   opacity: 1;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }


.session-form {
  position: absolute;
  top: 100px;
  left: 33%;
  width: 450px;
  padding: 30px;
  border: 1px solid #ccc;
  z-index: 3;
  box-sizing: border-box;
  background: white;
  align: center;
  height: 420px;
  // margin: 0 auto;
  // width: 400px;
}

.input-session {
  margin: 0 0 20px 0;
}

.input-session > label {
  display: block;
  font-weight: 400;
  // padding: 0 0 5px 0;
  margin-left: 11px;
}

.input-field {
  display: block; 
  background: #fff;
  border: 1px solid #ccc;
  width: calc(100% - 11px);
  border-radius: 5px;
  padding: 5px;
  font-weight: 300;
  // margin: 0 auto;
}

// .modal.is-open {
//   display: block;
// }

// .modal-x {
//   position: absolute;
//   top: 10px;
//   right: 20px;
// }

.session-submit {
  width: calc(100% - 22px);
  background-color: #f50;
  border-color: #f50;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  padding: 10px 15px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 11px;
}

.session-errors {
  color: #f50;
  font-size: 10px;
  margin: 5px 0px 5px 0px;
}
// .no-errors {
//   height: 10px;
//   display: none;
// }

.soundcloud-logo {
  background: image-url("sc-logo-form.jpg");
  height: 43px;
  width: 94px;
  background-size: contain;
  margin: 0 auto;
  margin-bottom: 35px;
  margin-top: 20px;
}

.form-header {
  margin: 15px 15px 10px 0px;
}