.track-index-list {
  padding: 15px, 5px;
  margin-left: 10px;
  margin-top: 20px;
  box-sizing: border-box;
  width: 800px;
}

.album-img {
  width: 162px;
  height: 162px;
}

.paused-button {
  width: 36px;
  height: 36px;
  background: #f50;
  background-image: image-url("play.svg");
  border-radius: 100%;
  background-size: 32%;
  background-position: 55% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 5px;
}
.paused-button:hover {
  background-color: #ff3400;
}

.played-button { 
  width: 36px;
  height: 36px;
  background: #f50;
  background-image: image-url("pause.svg");
  border-radius: 100%;
  background-size: 35%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 5px;
}
.played-button:hover {
  background-color: #ff3400;
}

.track-index-item {
  display: flex;
  margin-bottom: 40px;
  position: relative;
}

.track-item {
  display: flex;
}

.track-item-title {
  font-size: 15px;
  color: #333;
}

.track-item-links {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  padding: 5px 0px;
}

.track-item-artist {
  font-size: 12px;
  color: #999;
}

.track-item-buttons {
  position: absolute;
  bottom: -2px;
  left: 172px;
}

.waveform {
  padding: 15px 0px;
}

.edit-track {
  font-size: 11px;
  margin: 4px;
  padding: 5px 8px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.edit-track:hover {
  border: 1px solid #ccc;
}

.delete-button {
  font-size: 11px;
  margin: 4px;
  padding: 5px 8px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  height: 24.5px;
}

.delete-button:hover {
  border: 1px solid #ccc;
}

.pencil {
  margin-right: 3px;
}

.trash {
  margin-right: 1px;
}

.track-item-genre {
  position: absolute;
  padding: 2px 8px;
  background: #999;
  font-size: 12px;
  color: white;
  border-radius: 20px;
  right: 40px;
  bottom: 125px;
}

.track-item-genre:hover {
  background: #666;
}

.num-comments {
  font-size: 12px;
  color: #999;
  position: absolute;
  right: 40px;
  bottom: 10px;
}

.comment-icon {
  margin-right: 7px;
  // position: absolute;
}