.waveform-container {
  opacity: 0.7;
  margin-top: 30px;
  position: relative;
  cursor: pointer;
}

.track-item {
  position: relative;
}

.item-waveform {
  position: absolute;
  bottom: 35px;
  left: 20px;
}

.waveform-line {
  border-top: 1px solid white;
  width: 600px;
  height: 40px;
  z-index: 5;
  position: absolute;
  // opacity: 0.5;
  background-color: rgba(255, 255, 255, 0.5);
  top: 32px;
}

.waveform-time-index {
  position: absolute;
  right: 3px;
  background-color: black;
  color: #ccc;
  bottom: 29px;
  font-size: 10px;
  z-index: 9;
  padding: 1px 2px;
  border-radius: 2px;
}

.waveform-time-show {
  position: absolute;
  right: 3px;
  background-color: black;
  color: #ccc;
  bottom: 50px;
  font-size: 10px;
  z-index: 9;
  padding: 1px 2px;
  border-radius: 2px;
}

.waveform-dummy-show wave {
  opacity: 0 !important;
  top: 110px;
  z-index: 1000;
}

.waveform-dummy-index wave {
  opacity: 0 !important;
  // top: 60px;
  z-index: 1000;
}

.waveform-dummy-index {
  position: absolute;
  width: 600px;
}